header img{
    max-width: 500px;
}
img {
    border-radius: 25px;
    margin: 4px;
}

body {
    width: 100vw;
    height: 100vh;
}

.grid {
    display: grid;
    width:fit-content;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 20%; */
}
@media (max-width: 960px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: aqua;
    }
    
} 

.grid div{
    width: fit-content;
}